*.navbar{
    width: auto;
    min-height: 1em;
    max-height: fit-content;
    font-family: Playfair_Display;
}
.navbar-logo{
    padding-left: 2em;
    font-size: 2em;
}
.navbar-links{
    color: black
}
.image-header{
 font-family: Playfair_Display;
}
.image-office{
    padding: auto;
    min-height: 20%;
    max-width: 100%;
    filter: blur(0.1em);
    
}
.text-container{
    position: relative;
    text-align: center;
}
.image-text-heading{
    font-size: 3em;
    position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-text-description{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 2em;
  letter-spacing: 0.1em;
}
.team-heading{
    position: absolute;
    left: 50%;
    right: 50%;
    width: max-content;
    transform: translate(-50%, -50%); 
    font-size: 4em;
}
.me-image{
    border-radius: 100%;
    margin-top: ;
}